## Data manipulation at branch file{csv}

# look at data

In [1]:
#call the package for manpilation 
! pip install pandas

Requirement already satisfied: pandas in c:\users\abdo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\abdo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abdo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\abdo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\abdo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\abdo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [36]:
import pandas as pd

In [94]:
df=pd.read_csv(". Branch Dimension Table.csv")
df.info() # to show null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   branch_id            1000 non-null   int64
 1   branch_name          740 non-null    object
 2   branch_manager       1000 non-null   object
 3   branch_phone_number  1000 non-null   object
 4   branch_opening_date  1000 non-null   object
 5   branch_type          756 non-null    object
 6   branch_stock_market  1000 non-null   object
 7   branch_stock_symbol  1000 non-null   object
 8   branch_country_code  1000 non-null   object
dtypes: int64(1), object(8)
memory usage: 70.4+ KB

In [89]:
#pd.set_option('display.expand_frame_repr', False)  # Prevent line wrapping
#df.index +=1
df

     branch_id branch_name        branch_manager branch_phone_number branch_opening_date branch_type branch_stock_market branch_stock_symbol branch_country_code
0            1         NaN     Timothea Pavlenko        115-584-5246           3/25/2011         NaN                NYSE                 EPD                  TH
1            2    Branch B  Lorelei Borg-Bartolo        951-911-9848           1/26/2016   Corporate                NYSE                  WD                  ID
2            3    Branch B      Brandea Lilliman        561-184-4533           4/16/2014      Retail              NASDAQ                SWIN                  PL
3            4    Branch B       Vasili Readings        891-269-9668           6/27/2006      Retail              NASDAQ                FRBK                  ID
4            5    Branch A           Gerta Dunne        463-910-1235           10/2/2010      Retail              NASDAQ                LOAN                  TH
..         ...         ...                   ...                 ...                 ...         ...                 ...                 ...                 ...
995        996         NaN        Pinchas Peller        802-975-6895           4/17/2014  University                NYSE                  KN                  PH
996        997    Branch C      Ambrose Lanegran        641-417-3703           3/25/2007         NaN              NASDAQ                 CEZ                  AL
997        998    Branch C         Wenda Worling        237-312-1210            6/8/2011         NaN              NASDAQ               APOPW                  MN
998        999    Branch B       Mallorie Robiou        694-297-6871           11/6/2003      Retail              NASDAQ                IRDM                  ID
999       1000    Branch C        Franky Reinard        187-446-7126           8/15/2003         NaN              NASDAQ               BNTCW                  PE

[1000 rows x 9 columns]

In [90]:
df.count() # to show how many nuull and missing value

branch_id              1000
branch_name             740
branch_manager         1000
branch_phone_number    1000
branch_opening_date    1000
branch_type             756
branch_stock_market    1000
branch_stock_symbol    1000
branch_country_code    1000
dtype: int64

# replace null values at branch_name   with random values between branch A,B,C

In [95]:
# to get this method random.choice
import numpy as np

# Choices to replace NaN values
choices = ["Branch A", "Branch B", "Branch C"]

# Count the number of null values in the branch_name column
num_nulls = df['branch_name'].isna().sum()
print("Number of nulls before:", num_nulls)

# Create a mask for NaN values
nan_mask = df['branch_name'].isna()

# Fill NaN values in branch_name with random choices
df.loc[nan_mask, 'branch_name'] = np.random.choice(choices, size=num_nulls)

# Verify the replacement
num_nulls = df['branch_name'].isna().sum()
print("Number of nulls after:", num_nulls)

# Display the updated DataFrame
df

Number of nulls before: 260
Number of nulls after: 0

     branch_id branch_name        branch_manager branch_phone_number branch_opening_date branch_type branch_stock_market branch_stock_symbol branch_country_code
0            1    Branch A     Timothea Pavlenko        115-584-5246           3/25/2011         NaN                NYSE                 EPD                  TH
1            2    Branch B  Lorelei Borg-Bartolo        951-911-9848           1/26/2016   Corporate                NYSE                  WD                  ID
2            3    Branch B      Brandea Lilliman        561-184-4533           4/16/2014      Retail              NASDAQ                SWIN                  PL
3            4    Branch B       Vasili Readings        891-269-9668           6/27/2006      Retail              NASDAQ                FRBK                  ID
4            5    Branch A           Gerta Dunne        463-910-1235           10/2/2010      Retail              NASDAQ                LOAN                  TH
..         ...         ...                   ...                 ...                 ...         ...                 ...                 ...                 ...
995        996    Branch A        Pinchas Peller        802-975-6895           4/17/2014  University                NYSE                  KN                  PH
996        997    Branch C      Ambrose Lanegran        641-417-3703           3/25/2007         NaN              NASDAQ                 CEZ                  AL
997        998    Branch C         Wenda Worling        237-312-1210            6/8/2011         NaN              NASDAQ               APOPW                  MN
998        999    Branch B       Mallorie Robiou        694-297-6871           11/6/2003      Retail              NASDAQ                IRDM                  ID
999       1000    Branch C        Franky Reinard        187-446-7126           8/15/2003         NaN              NASDAQ               BNTCW                  PE

[1000 rows x 9 columns]

In [81]:
df.count() # to show how many nuull and missing value

branch_id              1000
branch_name            1000
branch_manager         1000
branch_phone_number    1000
branch_opening_date    1000
branch_type             756
branch_stock_market    1000
branch_stock_symbol    1000
branch_country_code    1000
dtype: int64

In [99]:
# to get this method random.choice
import numpy as np  

choices=['Corporate','University','Retail']

#get number of null at branch_type            
null_uums =df['branch_type'].isna().sum()
print('number of Nulls vales before cleaning is :',null_uums)

#clean data 
null_uum=df['branch_type'].isna()
df.loc[null_uum,'branch_type']=np.random.choice(choices,size=null_uums)

#check
null_uums =df['branch_type'].isna().sum()
print('number of Nulls vales before cleaning is :',null_uums)

df.isna().sum()

number of Nulls vales before cleaning is : 0
number of Nulls vales before cleaning is : 0

branch_id              0
branch_name            0
branch_manager         0
branch_phone_number    0
branch_opening_date    0
branch_type            0
branch_stock_market    0
branch_stock_symbol    0
branch_country_code    0
dtype: int64

In [100]:
df.count() # to show how many nuull and missing value

branch_id              1000
branch_name            1000
branch_manager         1000
branch_phone_number    1000
branch_opening_date    1000
branch_type            1000
branch_stock_market    1000
branch_stock_symbol    1000
branch_country_code    1000
dtype: int64

# load  cleaned data

In [97]:
# Save the updated DataFrame to a CSV file without the index
df.to_csv("Branch_Dimension_new.csv", index=False)