# look at data

In [2]:
import pandas as pd

In [6]:
df=pd.read_csv(r"C:\Users\Abdo\Desktop\Graduation_project\data source\Time Dimension.txt",delimiter='\t')
df.index+=1
df

,time_id,year,month,day,hour,minute,second,quarter,season,is_weekend
1,1,2024,4,6,20,14,51,Q1,Spring,True
2,2,1900,2,9,11,44,35,Q3,Summer,False
3,3,1993,2,29,19,40,4,NaN,NaN,True
4,4,1981,12,31,4,31,57,Q1,Fall,False
5,5,1941,12,31,3,24,41,Q2,Fall,NaN
...,...,...,...,...,...,...,...,...,...,...
996,996,1966,11,11,21,5,46,NaN,Spring,False
997,997,1900,8,24,7,55,8,Q1,Summer,False
998,998,2092,7,4,22,5,14,NaN,Fall,False
999,999,2006,8,26,23,17,7,Q2,Fall,False
1000,1000,1996,2,2,23,25,11,Q2,Spring,False

In [7]:
df.isna().sum()

time_id         0
year            0
month           0
day             0
hour            0
minute          0
second          0
quarter       217
season        197
is_weekend    110
dtype: int64

In [8]:
df.count()

time_id       1000
year          1000
month         1000
day           1000
hour          1000
minute        1000
second        1000
quarter        783
season         803
is_weekend     890
dtype: int64

# prepare quarter attribute

In [9]:
# to determine the unique value
df['quarter'].unique()

array(['Q1', 'Q3', nan, 'Q2', 'Q4'], dtype=object)

In [10]:
import numpy as np
#replacr and clean data 
replace=['Q1','Q2','Q3','Q4']

uum_nulls=df['quarter'].isna().sum()
print(f'number of nulls before cleaning: {uum_nulls}')

num_null=df['quarter'].isna()
df.loc[num_null,'quarter']=np.random.choice(replace,size=uum_nulls)


uum_nulls=df['quarter'].isna().sum()
print(f'number of nulls after cleaning : {uum_nulls}')


df.isna().sum()

number of nulls before cleaning: 217
number of nulls after cleaning : 0

time_id         0
year            0
month           0
day             0
hour            0
minute          0
second          0
quarter         0
season        197
is_weekend    110
dtype: int64

In [11]:
#to check data is cleaned 
df['quarter'].unique()

array(['Q1', 'Q3', 'Q2', 'Q4'], dtype=object)

# prepare season attribute

In [12]:
df.isna().sum()

time_id         0
year            0
month           0
day             0
hour            0
minute          0
second          0
quarter         0
season        197
is_weekend    110
dtype: int64

In [13]:
# to determine the unique value
df['season'].unique()

array(['Spring', 'Summer', nan, 'Fall', 'Winter'], dtype=object)

In [14]:
import numpy as np
#replacr and clean data 
replace=['Spring', 'Summer','Fall','Winter']

uum_nulls=df['season'].isna().sum()
print(f'number of nulls before cleaning: {uum_nulls}')

num_null=df['season'].isna()
df.loc[num_null,'season']=np.random.choice(replace,size=uum_nulls)


uum_nulls=df['season'].isna().sum()
print(f'number of nulls after cleaning : {uum_nulls}')


df.isna().sum()

number of nulls before cleaning: 197
number of nulls after cleaning : 0

time_id         0
year            0
month           0
day             0
hour            0
minute          0
second          0
quarter         0
season          0
is_weekend    110
dtype: int64

In [15]:
# to ensure the data is cleaned 
df['season'].unique()

array(['Spring', 'Summer', 'Winter', 'Fall'], dtype=object)

# prepare the is_weekend attribute

In [16]:
# to determine the unique value
df['is_weekend'].unique()

array([True, False, nan], dtype=object)

In [17]:
df.isna().sum()

time_id         0
year            0
month           0
day             0
hour            0
minute          0
second          0
quarter         0
season          0
is_weekend    110
dtype: int64

In [18]:
import numpy as np
#replacr and clean data 
replace=[True, False]

uum_nulls=df['is_weekend'].isna().sum()
print(f'number of nulls before cleaning: {uum_nulls}')

num_null=df['is_weekend'].isna()
df.loc[num_null,'is_weekend']=np.random.choice(replace,size=uum_nulls)


uum_nulls=df['is_weekend'].isna().sum()
print(f'number of nulls after cleaning : {uum_nulls}')


df.isna().sum()

number of nulls before cleaning: 110
number of nulls after cleaning : 0

time_id       0
year          0
month         0
day           0
hour          0
minute        0
second        0
quarter       0
season        0
is_weekend    0
dtype: int64

In [19]:
# to ensure data is cleaned 
df['is_weekend'].unique()

array([True, False], dtype=object)

In [20]:
df.count()

time_id       1000
year          1000
month         1000
day           1000
hour          1000
minute        1000
second        1000
quarter       1000
season        1000
is_weekend    1000
dtype: int64

# load data into xml file file

In [23]:
df.to_xml("time_dimensionS",index=False,root_name='time',row_name='time')

print("\nDataFrame saved to time.xml")

DataFrame saved to time.xml

In [ ]:
S