# extract

In [1]:
# extract 
import pandas as pd 
df=pd.read_xml(r"C:\Users\Abdo\Desktop\Graduation_project\final data source after cleaning\product_dimension\test.xml")
df.index+=1
df

,product_id,product_name,brand,category,price,quantity_in_stock,release_date,expiration_date,weight,dimensions
1,1,"Cake Circle, Paprus",LiveZ,electronics,777.44,585,1/28/2009,8/13/2028,49.8,medium
2,2,Tomatoes - Yellow Hot House,Wikizz,home goods,819.71,679,5/25/2004,7/8/2025,57.1,medium
3,3,Lotus Root,Yakitri,food,665.28,259,5/29/2009,4/10/2023,26.3,large
4,4,Wine - Pinot Noir Mondavi Coastal,Kanoodle,clothing,247.60,197,1/11/2021,3/15/2024,74.3,large
5,5,"Beef - Roasted, Cooked",Kwilith,food,612.69,481,2/10/2002,3/9/2028,0.3,medium
...,...,...,...,...,...,...,...,...,...,...
996,996,Shrimp - 150 - 250,Jaxworks,home goods,513.85,648,5/28/2013,2/5/2025,82.2,small
997,997,Soy Protein,Feednation,electronics,706.39,208,4/23/2014,3/31/2023,16.5,small
998,998,Ostrich - Prime Cut,Flipopia,beauty,406.69,992,10/10/2002,8/23/2025,44.9,small
999,999,Chocolate Bar - Smarties,Skyba,electronics,467.82,727,3/22/2008,8/18/2029,53.9,large
1000,1000,Rice - Brown,Centizu,food,409.75,140,5/8/2021,3/9/2030,45.9,large

# Transfor

In [2]:
df.dtypes

product_id             int64
product_name          object
brand                 object
category              object
price                float64
quantity_in_stock      int64
release_date          object
expiration_date       object
weight               float64
dimensions            object
dtype: object

In [3]:
# 1. Convert `release_date` and `expiration_date` to datetime format
df['release_date']=pd.to_datetime(df['release_date'])
df['expiration_date']=pd.to_datetime(df['expiration_date'])


# 2 Convert to pandas string type (only if you're using Pandas >= 2.0)
# Convert specified columns to string type

df['product_name'] = df['product_name'].astype("string")
df['brand'] = df['brand'].astype("string")
df['category'] = df['category'].astype("string")
df['dimensions'] = df['dimensions'].astype("string")

# Verify the changes
print(df.dtypes)
df

product_id                    int64
product_name         string[python]
brand                string[python]
category             string[python]
price                       float64
quantity_in_stock             int64
release_date         datetime64[ns]
expiration_date      datetime64[ns]
weight                      float64
dimensions           string[python]
dtype: object

,product_id,product_name,brand,category,price,quantity_in_stock,release_date,expiration_date,weight,dimensions
1,1,"Cake Circle, Paprus",LiveZ,electronics,777.44,585,2009-01-28,2028-08-13,49.8,medium
2,2,Tomatoes - Yellow Hot House,Wikizz,home goods,819.71,679,2004-05-25,2025-07-08,57.1,medium
3,3,Lotus Root,Yakitri,food,665.28,259,2009-05-29,2023-04-10,26.3,large
4,4,Wine - Pinot Noir Mondavi Coastal,Kanoodle,clothing,247.60,197,2021-01-11,2024-03-15,74.3,large
5,5,"Beef - Roasted, Cooked",Kwilith,food,612.69,481,2002-02-10,2028-03-09,0.3,medium
...,...,...,...,...,...,...,...,...,...,...
996,996,Shrimp - 150 - 250,Jaxworks,home goods,513.85,648,2013-05-28,2025-02-05,82.2,small
997,997,Soy Protein,Feednation,electronics,706.39,208,2014-04-23,2023-03-31,16.5,small
998,998,Ostrich - Prime Cut,Flipopia,beauty,406.69,992,2002-10-10,2025-08-23,44.9,small
999,999,Chocolate Bar - Smarties,Skyba,electronics,467.82,727,2008-03-22,2029-08-18,53.9,large
1000,1000,Rice - Brown,Centizu,food,409.75,140,2021-05-08,2030-03-09,45.9,large

In [4]:
# 3 Calculate product age (time between release and expiration)
df['product_age(days)'] = (df['expiration_date'] - df['release_date']).dt.days

# Extract the year and find the min and max year
min_year = df['expiration_date'].dt.year.min()
max_year = df['expiration_date'].dt.year.max()
print(f"Minimum year: {min_year}")
print(f"Maximum year: {max_year}")


df

Minimum year: 2023
Maximum year: 2030

,product_id,product_name,brand,category,price,quantity_in_stock,release_date,expiration_date,weight,dimensions,product_age(days)
1,1,"Cake Circle, Paprus",LiveZ,electronics,777.44,585,2009-01-28,2028-08-13,49.8,medium,7137
2,2,Tomatoes - Yellow Hot House,Wikizz,home goods,819.71,679,2004-05-25,2025-07-08,57.1,medium,7714
3,3,Lotus Root,Yakitri,food,665.28,259,2009-05-29,2023-04-10,26.3,large,5064
4,4,Wine - Pinot Noir Mondavi Coastal,Kanoodle,clothing,247.60,197,2021-01-11,2024-03-15,74.3,large,1159
5,5,"Beef - Roasted, Cooked",Kwilith,food,612.69,481,2002-02-10,2028-03-09,0.3,medium,9524
...,...,...,...,...,...,...,...,...,...,...,...
996,996,Shrimp - 150 - 250,Jaxworks,home goods,513.85,648,2013-05-28,2025-02-05,82.2,small,4271
997,997,Soy Protein,Feednation,electronics,706.39,208,2014-04-23,2023-03-31,16.5,small,3264
998,998,Ostrich - Prime Cut,Flipopia,beauty,406.69,992,2002-10-10,2025-08-23,44.9,small,8353
999,999,Chocolate Bar - Smarties,Skyba,electronics,467.82,727,2008-03-22,2029-08-18,53.9,large,7819
1000,1000,Rice - Brown,Centizu,food,409.75,140,2021-05-08,2030-03-09,45.9,large,3227

In [5]:
# 5. Standardize the `dimensions` (e.g., small, medium, large into numerical values)
dimension_mapping = {'small': 1, 'medium': 2, 'large': 3}
df['dimension_size'] = df['dimensions'].map(dimension_mapping)

df

,product_id,product_name,brand,category,price,quantity_in_stock,release_date,expiration_date,weight,dimensions,product_age(days),dimension_size
1,1,"Cake Circle, Paprus",LiveZ,electronics,777.44,585,2009-01-28,2028-08-13,49.8,medium,7137,2
2,2,Tomatoes - Yellow Hot House,Wikizz,home goods,819.71,679,2004-05-25,2025-07-08,57.1,medium,7714,2
3,3,Lotus Root,Yakitri,food,665.28,259,2009-05-29,2023-04-10,26.3,large,5064,3
4,4,Wine - Pinot Noir Mondavi Coastal,Kanoodle,clothing,247.60,197,2021-01-11,2024-03-15,74.3,large,1159,3
5,5,"Beef - Roasted, Cooked",Kwilith,food,612.69,481,2002-02-10,2028-03-09,0.3,medium,9524,2
...,...,...,...,...,...,...,...,...,...,...,...,...
996,996,Shrimp - 150 - 250,Jaxworks,home goods,513.85,648,2013-05-28,2025-02-05,82.2,small,4271,1
997,997,Soy Protein,Feednation,electronics,706.39,208,2014-04-23,2023-03-31,16.5,small,3264,1
998,998,Ostrich - Prime Cut,Flipopia,beauty,406.69,992,2002-10-10,2025-08-23,44.9,small,8353,1
999,999,Chocolate Bar - Smarties,Skyba,electronics,467.82,727,2008-03-22,2029-08-18,53.9,large,7819,3
1000,1000,Rice - Brown,Centizu,food,409.75,140,2021-05-08,2030-03-09,45.9,large,3227,3

# load

In [9]:
# load into database 
from sqlalchemy import create_engine, Column, Integer, String, Float, Date, DECIMAL, MetaData,Table,Boolean
# Database connection details
username = 'root'
password = '01021304688'
host = '127.0.0.1'
port = '3306'
database = 'DBproduct'

# Create SQLAlchemy engine
engine = create_engine(f'mysql://{username}:{password}@{host}:{port}/{database}')


# Define table schema
metadata = MetaData()

product_table = Table('product_dim', metadata,
    Column('product_id', Integer, primary_key=True),
    Column('product_name', String(255)),
    Column('brand', String(100)),
    Column('category', String(100)),
    Column('price', DECIMAL(10, 2)),
    Column('quantity_in_stock', Integer),
    Column('release_date', Date),
    Column('expiration_date', Date),
    Column('weight', Float),
    Column('dimensions', String(50)),
    Column('product_age(days)',Integer),
    Column('Boolean',Integer)
)

# Create table in database if it doesn't exist
metadata.create_all(engine)


co=engine.connect()
df.to_sql('producrtdim',co, if_exists='replace', index=False)

1000