## pipeline >> mysql

# extract

In [3]:
import xmltodict
from sqlalchemy import create_engine, Column, Integer, String, Float, Date, DECIMAL, MetaData
from sqlalchemy.orm import declarative_base, sessionmaker
from datetime import datetime

# Step 1: Parse the XML File
with open("C:\\Users\\belal\\OneDrive\\Desktop\\graduation-Project--main\\graduation-Project--main\\final data source after cleaning\\product_dimension\\test.xml", "r") as file:
    xml_content = file.read()
    data = xmltodict.parse(xml_content)

# Step 2: Define SQLAlchemy ORM Base and Table
Base = declarative_base()

# Define the Product table structure
class Product(Base):
    __tablename__ = 'products'
    product_id = Column(Integer, primary_key=True)
    product_name = Column(String(255))
    brand = Column(String(100))
    category = Column(String(100))
    price = Column(DECIMAL(10, 2))
    quantity_in_stock = Column(Integer)
    release_date = Column(Date)
    expiration_date = Column(Date)
    weight = Column(Float)
    dimensions = Column(String(50))

# Step 3: Establish MySQL Connection Using SQLAlchemy
DATABASE_URI = 'mysql+mysqlconnector://root:12345@localhost/DB_product'
engine = create_engine(DATABASE_URI, echo=True)

# Create the products table if it doesn't exist
Base.metadata.create_all(engine)

# Step 4: Create a Session
Session = sessionmaker(bind=engine)
session = Session()

2024-09-27 07:41:12,327 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-09-27 07:41:12,328 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-27 07:41:12,332 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-09-27 07:41:12,333 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-27 07:41:12,336 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-09-27 07:41:12,338 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-27 07:41:12,340 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-27 07:41:12,343 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-09-27 07:41:12,343 INFO sqlalchemy.engine.Engine [generated in 0.00353s] {'table_schema': 'db_product', 'table_name': 'products'}
2024-09-27 07:41:12,343 INFO sqlalchemy.engine.Engine COMMIT

In [4]:

# Step 5: Insert Data into the MySQL Table Using SQLAlchemy
for product in data['products']['product']:
    # Convert date strings to `datetime.date` objects
    release_date = datetime.strptime(product['release_date'], "%m/%d/%Y").date()
    expiration_date = datetime.strptime(product['expiration_date'], "%m/%d/%Y").date()

    # Create a Product object
    new_product = Product(
        product_id=int(product['product_id']),
        product_name=product['product_name'],
        brand=product['brand'],
        category=product['category'],
        price=float(product['price']),
        quantity_in_stock=int(product['quantity_in_stock']),
        release_date=release_date,
        expiration_date=expiration_date,
        weight=float(product['weight']),
        dimensions=product['dimensions']
    )

    # Add the product to the session
    session.add(new_product)

# Step 6: Commit the Transaction and Close the Session
session.commit()
session.close()

print("Data successfully inserted into the MySQL database using SQLAlchemy!")

2024-09-27 07:41:15,277 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-27 07:41:15,298 INFO sqlalchemy.engine.Engine INSERT INTO products (product_id, product_name, brand, category, price, quantity_in_stock, release_date, expiration_date, weight, dimensions) VALUES (%(product_id)s, %(product_name)s, %(brand)s, %(category)s, %(price)s, %(quantity_in_stock)s, %(release_date)s, %(expiration_date)s, %(weight)s, %(dimensions)s)
2024-09-27 07:41:15,298 INFO sqlalchemy.engine.Engine [generated in 0.00826s] ({'product_id': 1, 'product_name': 'Cake Circle, Paprus', 'brand': 'LiveZ', 'category': 'home goods', 'price': 777.44, 'quantity_in_stock': 585, 'release_date': datetime.date(2009, 1, 28), 'expiration_date': datetime.date(2028, 8, 13), 'weight': 49.8, 'dimensions': 'medium'}, {'product_id': 2, 'product_name': 'Tomatoes - Yellow Hot House', 'brand': 'Wikizz', 'category': 'home goods', 'price': 819.71, 'quantity_in_stock': 679, 'release_date': datetime.date(2004, 5, 25), 'expiration_date': datetime.date(2025, 7, 8), 'weight': 57.1, 'dimensions': 'medium'}, {'product_id': 3, 'product_name': 'Lotus Root', 'brand': 'Yakitri', 'category': 'food', 'price': 665.28, 'quantity_in_stock': 259, 'release_date': datetime.date(2009, 5, 29), 'expiration_date': datetime.date(2023, 4, 10), 'weight': 26.3, 'dimensions': 'large'}, {'product_id': 4, 'product_name': 'Wine - Pinot Noir Mondavi Coastal', 'brand': 'Kanoodle', 'category': 'clothing', 'price': 247.6, 'quantity_in_stock': 197, 'release_date': datetime.date(2021, 1, 11), 'expiration_date': datetime.date(2024, 3, 15), 'weight': 74.3, 'dimensions': 'large'}, {'product_id': 5, 'product_name': 'Beef - Roasted, Cooked', 'brand': 'Kwilith', 'category': 'food', 'price': 612.69, 'quantity_in_stock': 481, 'release_date': datetime.date(2002, 2, 10), 'expiration_date': datetime.date(2028, 3, 9), 'weight': 0.3, 'dimensions': 'medium'}, {'product_id': 6, 'product_name': 'Juice - Apple Cider', 'brand': 'BlogXS', 'category': 'home goods', 'price': 518.83, 'quantity_in_stock': 990, 'release_date': datetime.date(2019, 2, 18), 'expiration_date': datetime.date(2027, 3, 26), 'weight': 4.0, 'dimensions': 'small'}, {'product_id': 7, 'product_name': 'Island Oasis - Peach Daiquiri', 'brand': 'Fatz', 'category': 'clothing', 'price': 790.05, 'quantity_in_stock': 648, 'release_date': datetime.date(2011, 11, 1), 'expiration_date': datetime.date(2030, 6, 26), 'weight': 90.0, 'dimensions': 'medium'}, {'product_id': 8, 'product_name': 'Wine - Chateau Bonnet', 'brand': 'InnoZ', 'category': 'food', 'price': 815.63, 'quantity_in_stock': 620, 'release_date': datetime.date(2012, 4, 4), 'expiration_date': datetime.date(2028, 8, 30), 'weight': 93.1, 'dimensions': 'medium'}  ... displaying 10 of 1000 total bound parameter sets ...  {'product_id': 999, 'product_name': 'Chocolate Bar - Smarties', 'brand': 'Skyba', 'category': 'electronics', 'price': 467.82, 'quantity_in_stock': 727, 'release_date': datetime.date(2008, 3, 22), 'expiration_date': datetime.date(2029, 8, 18), 'weight': 53.9, 'dimensions': 'large'}, {'product_id': 1000, 'product_name': 'Rice - Brown', 'brand': 'Centizu', 'category': 'food', 'price': 409.75, 'quantity_in_stock': 140, 'release_date': datetime.date(2021, 5, 8), 'expiration_date': datetime.date(2030, 3, 9), 'weight': 45.9, 'dimensions': 'large'})
2024-09-27 07:41:15,395 INFO sqlalchemy.engine.Engine COMMIT
Data successfully inserted into the MySQL database using SQLAlchemy!